@model String
   <div class="alert alert-danger mt-3 alert-dismissible fade show" role="alert">
            @Model
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        </div>