@model Usuario
@{
    ViewBag.Subtitulo = "Cadastro";
}

<h1 class="text-primary">Cadastro de Usuário</h1>
<hr>
<form class="w-25" method="post">
    <div class="form-group">
        <label asp-for="Nome">Nome:</label>
        <input asp-for="Nome" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Email">Email:</label>
        <input asp-for="Email" class="form-control" />
    </div>
    <div class="mt-3">
        <a href="/Home/Usuarios" class="btn btn-danger">Cancelar</a>
        <button class="btn btn-primary" type="submit">Salvar</button>
    </div>
</form>
@section LogoPagina
{
    <img src="/img/form.png" height="24" class="d-inline-block align-text-bottom">
}