@{
    ViewBag.Subtitulo = "Página Principal";
}

<h1 class="text-primary">CRUD com ASP.NET Core</h1>
<hr>
<h4 class="text-info">Usuários Cadastrados: @ViewBag.QtdDeUsuarios</h4>
<hr>
<a href="/Home/Usuarios" class="btn btn-primary">Usuários</a>
